<div class="wrapper">
    <form class="mt-3" [formGroup]="register" (ngSubmit)="submit()">

        <div class="form-field d-flex align-items-center form-control" [ngClass]="{'is-invalid':email?.invalid}">
            <span class="bi bi-envelope mx-2"></span>
            <input type="email" formControlName="Email" placeholder="Email">
        </div>
        <small class="text-danger fs-6" *ngIf="email?.invalid">Email is required</small>

        <div class="form-field d-flex align-items-center form-control" [ngClass]="{'is-invalid':pass?.invalid}">
            <span class="bi bi-key mx-2"></span>
            <input type="password" formControlName="pass" placeholder="Password">
        </div>

        <div class="form-field d-flex align-items-center form-control" [ngClass]="{'is-invalid':Name?.invalid}">
            <span class="bi bi-envelope mx-2"></span>
            <input type="text" formControlName="Name" placeholder="Name">
        </div>

        <div class="form-field d-flex align-items-center form-control" [ngClass]="{'is-invalid':Phone?.invalid}">
            <span class="bi bi-envelope mx-2"></span>
            <input type="text" formControlName="Phone" placeholder="Phone">
        </div>

        <div class="form-field d-flex align-items-center form-control" [ngClass]="{'is-invalid':Address?.invalid}">
            <span class="bi bi-envelope mx-2"></span>
            <input type="text" formControlName="Address" placeholder="Address">
        </div>

        <button class="btn mt-3 mb-2" type="submit">Sign up</button>
    </form>
    <div class="text-start fs-6">
        <a routerLink="/auth/login">Login</a>
    </div>
</div>