
<section>
    <div class="col-12 page-padding-bottom promo pt-1">
        <div class="col-sm-5 text-light promo-data" data-aos="fade-up">
            <h2 class="text-capitalize mx-5 mb-3">Online Shop</h2>
            <p class="text-capitalize mx-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam temporibus, facilis nostrum impedit reiciendis est.</p>
            <button class="p-2 px-5 btn btn-dark">Read More</button>
        </div>
        <div class="col-sm-7">
            <img src="product-img.png" alt="" class="w-100">
        </div>
    </div>
</section>

<section>
    <app-products-view [products]="products"></app-products-view>
</section>