
.footer-copyright {
    margin-top: 13px
}

a {
    text-decoration: none !important;
    color: #fff
}

.description {
    font-size: 12px
}

.text-Insta {
    color: rgb(255, 97, 163)
}

.logo-footer{
    height:30px;
}

.footer-copyright p {
    margin-top: 10px
}

.btn-icon{
    border-radius: 50%;
}