<div class="col-12 p-3pct p-0px-sm">
    <div class="col-sm-8 p-1"><router-outlet></router-outlet></div>
    <div class="col-sm-4 p-3">
        <h4><b>Order Details</b></h4>
        <div class="card p-3 pb-0 bg-light text-capitalize">
            <div class="d-flex justify-content-between w-100 fw-bold">
                <p>price</p>
                <p>{{cart.totalPrice}}</p>
            </div>
            <div class="d-flex justify-content-between w-100 fw-bold">
                <p>discount</p>
                <p>- {{cart.totalDiscount | number:'.1-2'}}</p>
            </div>
            <div class="d-flex justify-content-between w-100 fw-bold">
                <p>tax</p>
                <p>{{cart.taxAmount | number:'.1-2'}}</p>
            </div>
            <hr>
            <div class="d-flex justify-content-between w-100 fw-bold">
                <p>total</p>
                <p>{{cart.total | number:'.1-2'}}</p>
            </div>
        </div>
        <button class="btn btn-info text-light my-3 w-100" [routerLink]="segment">Proceed to Checkout</button>
    </div>

</div>