<footer class="col-12 bg-cst-dark text-cst-light py-2pct p-3pct-sm">
    <section class="col-2 p-3">
        <figure><img src="logo-no-bg.png" alt="logo" routerLink=""></figure>
    </section>
    <section class="col-4 p-3">
        <p>Empowering learners through accessible and engaging online education. </p>
        <p>Byway is a leading online learning platform dedicated to providing high-quality, flexible, and affordable educational experiences.     </p>
    </section>
    <section class="col-2 p-3">
        <div class="tect-cst-white fw-bold"> Get Help </div>
        <div class="tect-cst-white fw-semibold"> Contact Us </div>
        <div class="tect-cst-white fw-semibold"> Latest Articles </div>
        <div class="tect-cst-white fw-semibold"> FAQ </div>
    </section>
    <section class="col p-3">
        <div class="tect-cst-white fw-bold">Contact Us</div>
        <div class="tect-cst-white fw-semibold"> Address: 123 Main Street, Anytown, CA 12345 </div>
        <div class="tect-cst-white fw-semibold">Tel: +(123) 456-7890 </div>
        <div class="tect-cst-white fw-semibold"> Mail: bywayedu{{"@"}}webkul.in </div>
        <div class="m-3 d-flex justify-content-evenly">
            <p [innerHTML]="iconService.facebookIcon"></p>
            <p [innerHTML]="iconService.XIcon"></p>
            <p [innerHTML]="iconService.googleIcon"></p>
            <p [innerHTML]="iconService.githubIcon"></p>
        </div>
    </section>
</footer>