<div class="col-12">
    <div class="container d-flex flex-wrap">
        @for (item of products()| paginate:{itemsPerPage:pageSize ,currentPage:curruntPage}; track item ) {
        <div class="col-lg-3 col-md-4 col-sm-12 p-2 position-relative">
            <div class="card w-100" data-aos="fade-up">
                <img [src]="item.ProductImg" class="card-img-top" [alt]="">
                <div class="card-body">
                    <h5 class="card-title text-center">{{item.ProductName}}</h5>

                    <div class="d-flex justify-content-between">
                        <p class="card-text">{{item.ProductPrice | currency}}</p>
                        <span>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </span>
                    </div>

                    <div class="d-flex justify-content-between">
                        <p class="card-text fs-6 pieces"
                            [ngClass]="{'text-warning':item.AvailablePieces < 5, 'text-danger':item.AvailablePieces ==0}">
                            pieces : {{item.AvailablePieces}}</p>
                            <button class="btn" [disabled]="!item.AvailablePieces" (click)="addProduct(item)"><i class="bi bi-bag-plus fs-5"></i></button>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-view text-capitalize" [disabled]="!item.AvailablePieces" (click)="addProduct(item)">add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="col-12 p-5 d-flex justify-content-center">
        <pagination-controls (pageChange)="curruntPage=$event"></pagination-controls>
    </div>
</div>